body {
    background-color: #525659;
}

body p {
    color: #606062;
    font-size: 14px;
}

.master {
    background-color: #525659;
    width: 100%;
    height: auto;
    display: flex;
    padding-bottom: 25px;
    flex-direction: column;
    align-items: center;
}

.meus_links {
    position: relative;
}

.paper {

    margin-bottom: 5px;
    width: 860px;
    background-color: #e6e6e5;
    display: flex;
    box-shadow: 3px 3px 3px 3px rgba(0.5, 0.5, 0.5, 0.2);
}

.lateral {
    background-color: #686a71;
}

.conteudo {
    width: 100%;
    padding-left: 25px;
}

.profile {
    height: 400px;
    background-image: url('../img/profile.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    text-align: right;

}

.personalidade {
    color: #FFF;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    background: rgba(233, 177, 40, 0.3);
    width: 100%;
    font-style: italic;
    padding-right: 25px;


}

.apresentacao h1 {
    font-size: 50px;
    font-weight: bold;
    padding-top: 20px;
    color: #fe7c30;
    font-style: italic;
    margin-bottom: 5px;
    line-height: 1.0;
    padding-bottom: 20px;
}

.profissao {

    padding-left: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #2e44cb;
    color: #dfb128;
    font-size: 18px;
    font-style: italic;
    margin-bottom: 10px;
    margin-left: -15px;

}

.habilidades {
    margin-top: 23px;
    padding-top: 18px;
    padding-bottom: 15px;
    margin-left: -20px;
    background-color: #dfb128;
    padding-left: 25px;
}

.contatos {
    text-align: right;
    color: #FFF;
    background-color: #3e414a;
    padding: 25px 0px 10px 10px;
}

.contatos ul {
    padding-right: 25px;
    list-style-type: none;
    color: #dfb128;
}

.contatos h3 {
    padding-right: 25px;
    padding-bottom: 0;
}

.contatos hr {
    margin-top: 0rem;
    height: 1px;
    background-color: #FFF;
    margin-right: 10px;
}

.formacao-titulo {

    text-align: right;
    padding: 5px;
    background-color: #2e44cb;
    color: #FFF;
    padding-right: 25px;
}

.formacao {
    padding: 10px 25px 10px 25px;
    text-align: right;
    color: #FFF;
    background-color: #686a70;

}

.formacao h4,
h5 {
    text-align: right;
}

.formacao h4 {
    font-size: 16px;
    font-weight: bold;
}

.formacao h5 {
    font-size: 14px;
    font-weight: bold;

}

.formacao p {
    font-size: 14px;
}

.formacao p {
    color: #FFF;
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: 100;
    padding-bottom: 5px;

}

.col-md-5 {
    padding-right: 10px !important;
}

.col-md-7 {
    padding-left: 10px !important;
}

.col-md-7 p {
    padding-right: 20px !important;
}

.principal {
    background-color: #e6e6e5;
}

.auxiliar {
    background-color: #e6e6e5;
    padding-right: 0px;
    padding-left: 0px;
}

.row {
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.principal h4 {

    padding-top: 25px;
    color: #fe7c30;
}

.bg-success {
    background-color: #fe7c30 !important;
}

.meus_links {
    padding-left: 0px !important;
}

.meus_links ul {
    padding-top: 15px;
    text-align: center;
    display: flex;
    list-style-type: none;
    color: #FFF;
}

.meus_links li {
    cursor: pointer;
    margin-right: 18px;
    font-size: 15px !important;
}

.meus_links i,
a {
    color: #FFF;
}

a:hover,
i:hover {
    text-decoration: none;
    color: #dfb128 !important;
}

.qrcode {
    margin: 10px;
    padding: 0;
    border: solid 3px #FFF;
    margin-right: 15px;

}